html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  line-height: 1.4;
  background: var(--color-background);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
input {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0 auto;
  text-align: center;
  color: var(--color-primary);
}

body h1 {
  color: var(--color-title);
}

a {
  color: var(--color-link);
}

.slender-login-main {
  padding-top: 100px;
  padding-bottom: 100px;
}

.container {
  margin: 0 auto;
}

#password {
  font-size: 16px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--color-border);
  color: var(--color-primary);
  transition: all 0.2s;
  outline: none;
  margin-bottom: 10px;
}

#password::-webkit-input-placeholder {
  text-align: center;
}
#password::-moz-placeholder {
  text-align: center;
}

#submit {
  cursor: pointer;
  outline: none;
  background: #8bc34a;
  border-color: #42ca42;
  color: #effafa;
}

.login-tips {
  color: var(--color-tips);
}

.slender-login-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0px;
}

.slender-login-footer-content {
  width: 100%;
  text-align: center;
}
