<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="login page">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="/assets/css/var.css?v=1.0.0">
  <link rel="stylesheet" href="/assets/css/login.css?v=1.0.0">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <script type="text/javascript">
    (function () {
      const key = 'slender-color';
      const color = localStorage.getItem(key);
      if (color) {
        switch (color) {
          case 'light':
          case 'dark':
            document.documentElement.classList.add('slender-color-' + color);
            break;
        }
      }
    })();
  </script>
</head>

<body>
  <main class="slender-login-main">
    <h1>{{ .Header }}</h1>
    <div class="container">
      <form action="{{ .Action }}" method="post">
        <input id="username" type="text" name="username" value="{{ .Username }}" autocomplete="username"
          style="display: none;" />
        <input id="password" type="password" name="password" autocomplete="new-password" autofocus
          placeholder="{{ .Placeholder }}" />
        <br />
        <input id="submit" type="submit" value="{{ .OK }}" />
      </form>
    </div>
    {{ if .Tip }}
    <p class="login-tips">Tips: {{ .Tip }}</p>
    {{ end }}
  </main>

  <footer class="slender-login-footer">
    <div class="slender-login-footer-content"><a href="https://github.com/dragonish/slender-go" target="_blank"
        rel="noopener">Slender</a> ©2024-2025 Created by <a href="https://github.com/dragonish" target="_blank"
        rel="noopener">dragonish</a></div>
  </footer>
</body>

</html>